# Challenge 2

In this lab you will partner with another student to conduct **[pair programming](https://en.wikipedia.org/wiki/Pair_programming)**. In the next 60 minutes there will be 2 coding sessions of 30 minutes each. In each sessoin, one student will be the **driver** to write the code to solve the problem while the other student will be the **observer** to watch and review. There will be several iterations of your code because the observer will help the driver review the codes and make improvements until the 15 minute session ends. After the coding session ends, the driver and observer will switch roles.

#### Import all the libraries that are necessary

In [1]:
# import libraries here
import pandas as pd

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Preparation

#### Import the `Fitbit2.csv` file and name your dataset `fitbit`

In [2]:
fitbit=pd.read_csv('/Users/saulrubiofloresvalencia/Desktop/GitHub/lab-matplotlib-seaborn-master/your-code/Fitbit2.csv')

fitbit.head(5)

,Date,Calorie burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories,...,Distance_miles,Days,Days_encoded,Work_or_Weekend,Hours Sleep,Sleep efficiency,Yesterday_sleep,Yesterday_sleep_efficiency,Months,Months_encoded
0,2015-05-08,1934,905,0.65,0,1.355,46,0,0,1680,...,0.403891,Friday,4.0,1,6.400000,92.086331,0.000000,0.000000,May,5
1,2015-05-09,3631,18925,14.11,4,611.000,316,61,60,2248,...,8.767545,Saturday,5.0,0,7.566667,92.464358,6.400000,92.086331,May,5
2,2015-05-10,3204,14228,10.57,1,602.000,226,14,77,1719,...,6.567891,Sunday,6.0,0,6.450000,88.761468,7.566667,92.464358,May,5
3,2015-05-11,2673,6756,5.02,8,749.000,190,23,4,9620,...,3.119282,Monday,0.0,1,5.183333,88.857143,6.450000,88.761468,May,5
4,2015-05-12,2495,502,3.73,1,876.000,171,0,0,7360,...,2.317714,Tuesday,1.0,1,6.783333,82.892057,5.183333,88.857143,May,5

## Coding Session I - 30 minutes

From the Fitbit data, we want to visually understand: 

1. **How the average number of steps change by month. Use the appropriate visualization to show the median steps by month?**
1. **Is Fitbitter more active on weekend or workdays?**

##### All plots must be in the same jupyter notebook cell.

Hints:

- Use `Months_encoded` and `Week_or Weekend` columns
- Use `matplolib.pyplot` object oriented API
- Set your size figure to `12,4`
- Explore `plt.sca`
- Explore `plt.xticks`
- Save your figures

In [3]:
# Driver 1 enter codes here

fitbit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        367 non-null    object
 1   Calorie burned              367 non-null    int64
 2   Steps                       367 non-null    int64
 3   Distance                    367 non-null    float64
 4   Floors                      367 non-null    int64
 5   Minutes Sedentary           367 non-null    float64
 6   Minutes Lightly Active      367 non-null    int64
 7   Minutes Fairly Active       367 non-null    int64
 8   Minutes Very Active         367 non-null    int64
 9   Activity Calories           367 non-null    int64
 10  MinutesOfSleep              367 non-null    int64
 11  MinutesOfBeingAwake         367 non-null    int64
 12  NumberOfAwakings            367 non-null    int64
 13  LengthOfRestInMinutes       367 non-null    int64
 14  Distance_miles              367 non-null    float64
 15  Days                        367 non-null    object
 16  Days_encoded                367 non-null    float64
 17  Work_or_Weekend             367 non-null    int64
 18  Hours Sleep                 367 non-null    float64
 19  Sleep efficiency            367 non-null    float64
 20  Yesterday_sleep             367 non-null    float64
 21  Yesterday_sleep_efficiency  367 non-null    float64
 22  Months                      367 non-null    object
 23  Months_encoded              367 non-null    int64
dtypes: float64(8), int64(13), object(3)
memory usage: 68.9+ KB

In [4]:
steps_m= fitbit.groupby('Months').agg({'Steps':'mean'})
steps_m= steps_m.reindex(index=['January','February', 'March', 'April', 'May', 'June', 
                                  'July', 'August', 'September', 'October', 'November', 'December'])

In [ ]:
steps_mlist= steps_m.values.tolist() 

steps=[]
for steps in steps_mlist: 
  for step in steps: 
      steps.append(step)

In [ ]:
plt.figure(figsize = (12,4))
plt.title('Mean steps per month',fontsize=20)
plt.xlabel('Steps', fontsize=12) 
plt.style.use('default')
plt.xticks()

x=steps_m.index 
y=steps 

sns.barplot(y,x)

In [ ]:
fitbit['Work_or_Weekend']= np.where(fitbit['Work_or_Weekend']==1, 'Workdays', 'Holidays' )
work_holi= fitbit.groupby('Work_or_Weekend', as_index=False).agg({'Steps':'mean'})

In [ ]:
plt.figure(figsize = (5,5)) 
plt.title('Weekend VS Active', fontsize = 20)
plt.style.use('default') 


x= work_holi['Work_or_Weekend']
y= work_holi['Steps']

plt.bar(x,y, color =['r', 'b'])

## Coding Session II - 30 minutes

**Write a loop to plot 3 scatter plots of the following features:**

1. **`Minutes Lightly Active`  vs `Steps`**
1. **`Minutes Very Active` vs `Steps`**
1. **`Minutes Sedentary` vs `Steps`**

In [ ]:
# Driver 2 enter codes here 
loop_x = [fitbit['Minutes Lightly Active'], fitbit['Minutes Very Active'], fitbit['Minutes Sedentary']]
titles= ['Minutes Lightly Active vs Steps', 'Minutes Very Active vs Steps', 'Minutes Sedentary vs Steps']
for i in range(len(loop_x)):
    plt.figure(figsize = (10,5))
    plt.title(titles[i])
    plt.ylabel('Total steps', fontsize = 15)
    plt.style.use('default') 
    
    y = fitbit['Steps']

    plt.scatter(loop_x[i],y )
    plt.show();